html {
    background-color: darkblue;
}
h1 {
    color: white;
    text-align: left;
    font-family: verdana;
}
p{
    color: white;
    font-family: verdana;
    text-align: left;
}
a{
    color: rgb(255, 202, 255);
}
a:hover{
    color: white;
}
img {
    align-items: right;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}