body{
    background-color: #fffaff;
    font-family: verdana;
}
h1 {
    color: black;
    text-align: left;
}
p{
    color: black;
    text-align: left;
}
a{
    color: black;
}
a:hover{
    color: purple;
}
img {
    align-items: right;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
footer{
    color: #fce8fb;
}

